[alias]
  ad    = add
  adf   = !git status --short | grep -v '^M%s' | fzf-tmux $FZF_TMUX_OPTS -m --preview 'git diff {2} | delta' | awk '{print $2}' | xargs -r git add && git status --short
  rss   = !git status --short | grep -v '^ '   | fzf-tmux $FZF_TMUX_OPTS -m --preview 'git diff --staged {2} | delta' | awk '{print $2}' | xargs -r git restore --staged && git status --short
  rsu   = !git status --short | grep -v '^M%s' | fzf-tmux $FZF_TMUX_OPTS -m --preview 'git diff {2} | delta' | awk '{print $2}' | xargs -r git restore && git status --short
  br    = branch
  cf    = config
  ch    = checkout
  cm    = commit
  df    = diff
  er    = erase
  erase = !git branch | grep -vE '^\\*' | fzf --multi | xargs git branch -D
  fetch = fetch -p
  graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
  lg    = log --name-status
  pl    = pull -p
  ps    = push
  pull  = pull -p
  st    = status --short
  sw    = !git branch -a | grep -vE '^\\*' | fzf | sed -e 's/remotes\\/origin\\///' | xargs git switch
[color]
  branch = auto
  diff   = auto
  status = auto
  ui     = auto
[commit]
  template = ~/.gitmessage
[core]
  editor       = nvim -c \"set fenc=utf-8\"
  excludesfile = ~/.gitignore_global
  ignorecase   = false
  pager        = delta
  quotepath    = false
[delta]
  line-numbers = true
  navigate     = true
  syntax-theme = gruvbox-dark
[fetch]
  prune = true
[ghq]
  root = ~/dev/ghq
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[pager]
  branch = false
  diff   = delta
  log    = delta
  reflog = delta
  show   = delta
[pull]
  rebase = false
[push]
  default = simple
[user]
  email = miya10kei@gmail.com
  name = miya10kei
[credential "https://github.com"]
  helper = !/root/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = !/root/.local/bin/gh auth git-credential
[coderabbit]
  machineId = cli/0b574cd1beaa428e963b5cdd1b4b76c7

