[alias]
  ad    = add
  br    = branch
  cf    = config
  ch    = checkout
  cm    = commit
  df    = diff
  fetch = fetch -p
  graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
  lg    = log --name-status
  pl    = pull -p
  ps    = push
  pull  = pull -p
  st    = status
[color]
  branch = auto
  diff   = auto
  status = auto
  ui     = auto
[commit]
  template = ~/.gitmessage
[core]
  editor       = nvim -c \"set fenc=utf-8\"
  excludesfile = ~/.gitignore_global
  ignorecase   = false
  pager        = delta
  quotepath    = false
[delta]
  line-numbers = true
  navigate     = true
  syntax-theme = gruvbox-dark
[ghq]
  root = ~/dev
[includeIf "gitdir:~/dev/work/"]
  path = ~/.gitconfig_work
[includeIf "gitdir:~/dev/private/"]
  path = ~/.gitconfig_private
[includeIf "gitdir:~/.password-store/"]
  path = ~/.gitconfig_private
[includeIf "gitdir:~/.dotfiles/"]
  path = ~/.gitconfig_private
[includeIf "gitdir:~/.dotfiles-inhouse/"]
  path = ~/.gitconfig_work
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[pager]
  branch = false
  diff   = delta
  log    = delta
  reflog = delta
  show   = delta
[pull]
  rebase = false
[push]
  default = simple
