" .__    .___                 .__
" |__| __| _/____ _____ ___  _|__| ____________   ____
" |  |/ __ |/ __ \\__  \\  \/ /  |/     \_  __ \_/ ___\
" |  / /_/ \  ___/ / __ \\   /|  |  Y Y  \  | \/\  \___
" |__\____ |\___  >____  /\_/ |__|__|_|  /__|    \___  >
"         \/    \/     \/              \/            \/
"                   https://github.com/JetBrains/ideavim

" ----------------------
" --- Basic settings ---
" ----------------------
" --- enable surround
set surround
"--- share yank and clipboard
set clipboard=unnamed
" --- TODO
set showmatch
set matchtime=1
set visualbell


" -----------------------
" --- Search settings ---
" -----------------------
" --- enable search result highlighting
set hlsearch
" --- enable case insensitive
set ignorecase
" --- enable incremental search
set incsearch
" --- enable case sensitive, if the keywords contains uppercase character
set smartcase


" ----------------------------
" --- Key mapping settings ---
" ----------------------------
" --- return normal mode from insert mode
inoremap <silent> jj <ESC>
" --- cursor movement settings
nnoremap <silent> j gj
nnoremap <silent> k gk
nnoremap <silent> gj j
nnoremap <silent> gk k
nnoremap <silent> $ $l

inoremap <silent> <C-j> <Down>
inoremap <silent> <C-h> <Left>
inoremap <silent> <C-k> <Up>
inoremap <silent> <C-l> <Right>
inoremap <silent> <C-x> <C-h>


nnoremap x "_x
nnoremap <ESC><ESC> :<C-u>noh<CR>
nnoremap p "0p

nnoremap <silent> <Space><Space> viw:<C-u>action Find<CR>
nnoremap <silent> / :<C-u>action Find<CR>


" --- disable to fold code
nnoremap <silent> zM <Nop>
nnoremap <silent> zc <Nop>
nnoremap <silent> zC <Nop>
nnoremap <silent> zR <Nop>
nnoremap <silent> zo <Nop>
nnoremap <silent> zO <Nop>

" --- bind action
nnoremap <silent> <C-l> :<C-u>action ReformatCode<CR>
nnoremap <silent> <C-o> :<C-u>action OptimizeImports<CR>
nnoremap <silent> <C-d> :<C-u>action QuickJavaDoc<CR>
nnoremap <silent> <C-w><C-e> :<C-u>action SearchEverywhere<CR>
nnoremap <silent> <C-w><C-p> :<C-u>action RecentFiles<CR>
nnoremap <silent> <C-p> :<C-u>action Back<CR>
nnoremap <silent> <C-n> :<C-u>action Forward<CR>
nnoremap <silent> gd :<C-u>action GotoDeclaration<CR>
nnoremap <silent> gy :<C-u>action GotoTypeDeclaration<CR>
nnoremap <silent> gi :<C-u>action GotoImplementation<CR>
nnoremap <silent> gr :<C-u>action CallHierarchy<CR>
nnoremap <silent> <C-g>\| :<C-u>action SplitVertically<CR>
nnoremap <silent> <C-g>\- :<C-u>action SplitHorizontally<CR>
nnoremap <silent> <C-g>r :<C-u>action RunMenu<CR>
nnoremap <silent> <C-e> :<C-u>action RecentFiles<CR>
nnoremap <silent> <C-1> :<C-u>action ActivateProjectToolWindow<CR>
nnoremap <silent> <A-1> :<C-u>action ActivateProjectToolWindow<CR>
nnoremap <silent> <C-2> :<C-u>action ActivateStructureToolWindow<CR>
nnoremap <silent> <A-2> :<C-u>action ActivateStructureToolWindow<CR>
nnoremap <silent> <C-3> :<C-u>action ActivateHierarchyToolWindow<CR>
nnoremap <silent> <A-3> :<C-u>action ActivateHierarchyToolWindow<CR>
nnoremap <silent> <C-6> :<C-u>action ActivateGradleToolWindow<CR>
nnoremap <silent> <A-6> :<C-u>action ActivateGradleToolWindow<CR>

set clipboard+=ideaput
